.classpath
.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
/resources/
root-context.xml
/WebContent/inicis/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.metadata/
